





#calender {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #d16ba5, #ee7d96, #fe978a, #ffb587, #ffd391, #f5e297, #e9f0a2, #dafeb4, #beffbe, #a0ffcd, #80fede, #5ffbf1);
    /*background-color: rgba(214, 255, 176, 0.85);*/
}

#userNameInput:hover, #passwordInput:hover, #firstName:hover, #lastName:hover, #addUserName:hover, #addPassword:hover, #groupSelection:hover, #addUser:hover, #userRoles:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#userNameInput, #passwordInput, #firstName, #lastName, #addUserName, #addPassword, #groupSelection, #addUser, #userRoles {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


.loginPanel, .addNewUserPanel, .linkUserAndGroupOanel, .accordion {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    padding-top: 55px;
}

.calenderWrapper {
    background-color: #FDFBAF; /*bakgrundsfärg till kalendern*/
    padding: 30px;
    border: 1px solid #ccc !important;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.hiddenInput {
    display: none;
}

.container-fluid {
    background-color: #6C3483;
}

/*kalender gridfärg*/
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-color: rgba(62, 53, 20, 0.4392156862745098) !important;
}

    /*Gridfärg på den valda dagen*/
    .fc-unthemed td.fc-today {
        background: rgba(223, 150, 253, 0.51);
    }

/*EventKlass test*/

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.eventColor_one {
    background: linear-gradient(270deg, #ffe300, #02ff00, #0600ff);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    /*background-image: url('https://media.giphy.com/media/ECWLeGxcKasCc/giphy.gif');
    background-size: contain;*/
    /*background-image: linear-gradient(to bottom, #fdfbaf, #ffe2a5, #ffcbae, #ffb9c2, #fdafd8);*/
    /*box-shadow: inset 1px -12px 17px green; <--Jobba på skuggan på varje event*/
}

.eventColor_two {
    background-image: url('https://media.giphy.com/media/cyhqbdmqGs5ig/giphy.gif');
    background-size: contain;
    /*background-image: linear-gradient(to bottom, #a044c0, #ee397d, #f3743e, #caaf2a, #82dc74);*/
}

.eventColor_three {
    background-image: url('https://media.giphy.com/media/ujIIhN9fvwdsQ/giphy.gif');
    background-size: contain;
    /*background-image: linear-gradient(to bottom, #ffff00, #ffa100, #ff0051, #ff00ad, #000bff);*/
}

.eventColor_four {
    background-image: url('https://media.giphy.com/media/4Q6o9ICLZzoCk/giphy.gif');
    background-size: contain;
    /*background-image: linear-gradient(to bottom, #00ff43, #9bd700, #d1a900, #f27000, #ff0000);*/
}

/*Accordion*/
.accordion {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
}

    .accordion .item .heading {
        height: 50px;
        line-height: 50px;
        font-size: 17px;
        cursor: pointer;
        color: #88149c; /*Textfärg*/
        padding-left: 15px;
        background: #FDAFD8 /*url('../images/arrow.png')*/ no-repeat; /*accordion item färg*/
        background-position: right 20px top -95px;
        border-bottom: 1px solid #dc64de; /*Accordion nederkanst på varje item*/
        box-sizing: border-box;
    }

    .accordion .item.open .heading,
    .accordion .item:last-child .heading {
        border: 0;
    }

    .accordion .item.open .heading {
        background-position: right 20px top -5px;
    }

    .accordion .item .content {
        display: none;
        padding: 15px;
        background: #fff;
        font-size: 14px;
    }
/*Accordion*/


/*MediaQueries*/

@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi) {
   

    /* Your touch-specific css goes here */
}

@media only screen and (min-resolution: 165dpi) and (max-resolution: 168dpi), only screen and (min-resolution: 155dpi) and (max-resolution: 160dpi), only screen and (min-resolution: 134dpi) and (max-resolution: 144dpi), only screen and (min-resolution: 120dpi) and (max-resolution: 130dpi), only screen and (max-resolution: 116dpi) {

    /* Your click-specific css goes here */
}
@media only screen and (max-width: 1080) {
    .calenderWrapper {
        margin: 5px 5px 5px 5px;
        padding: 2px 2px 10px 2px;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .accordion {
        margin: 15px auto auto auto
    }
    /* Big view stuff goes here. */
}

@media (min-width: 541px) {
    /* Big view stuff goes here. */
}

@media (max-width: 540px) and (min-width: 400px) {
    /* Smaller view stuff goes here. */
}

@media (max-width: 399px) {
    /* Stuff for really small views goes here. */
}

/*MediaQueries*/